body {
    background-color: #ffbcfc;
        overflow: hidden;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 15%;
    font-weight: bold;
}
p {
    font-size: 1.5rem;
    text-align: center;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button:hover,
.button:focus {
  background-color: #F082AC;
}
.cloud {
    position: absolute;
    background: #fff;
    border-radius: 50px;
    width: 200px;
    height: 60px;
    opacity: 0.8;
}
.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50px;
}
.cloud:before {
    width: 100px;
    height: 80px;
    top: -40px;
    left: 20px;
}
.cloud:after {
    width: 120px;
    height: 120px;
    top: -60px;
    right: 20px;
}
@keyframes moveClouds {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(100vw);
    }
}
.cloud {
    animation: moveClouds 30s linear infinite;
}
.cloud:nth-child(2) {
    animation-delay: 10s;
    top: 20%;
    animation-duration: 25s;
}
.cloud:nth-child(3) {
    animation-delay: 20s;
    top: 40%;
    animation-duration: 35s;
}