<!-- add-tour-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Thêm Loại Tour - Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/Admin.css}" type="text/css">
</head>
<body>
<section layout:fragment="content" style="position: relative;">
    <div class="col-md-12 ">
        <h3>Thêm Loại Tour</h3>

        <div class="col-md-9" style="margin-left:150px;">
            <form action="/Admin/ThemLT" th:object="${loaitour}" method="post" >
                <div class="form-group">
                    <label for="maLoaiTour">Mã Loại Tour:</label>
                    <input type="text" id="maLoaiTour" name="maLoaiTour" th:field="*{maLoaiTour}" required><br><br>
                    <!--        <span id="tenSanPhamError" class="text-danger"></span>-->
                </div>


                <div class="form-group">
                    <label for="loaiTour">Loại Tour:</label>
                    <input type="text" id="loaiTour" name="loaiTour" th:field="*{loaiTour}" required><br><br>
                </div>




                <div class="form-group btn" style="margin-top:20px">
                    <input type="submit" class="btn btn-success" value="Add Tour">
                </div>

            </form>

        </div>
    </div>
</section>>
</body>
</html>