<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Hóa Đơn - Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/Admin.css}" type="text/css">
</head>
<body>
<section layout:fragment="content" style="position: relative;">
    <h2 style="text-align:center">Danh Sách Hóa Đơn</h2>
<!--<div style="margin-top: 10px; margin-bottom: 10px;">-->
<!--    &lt;!&ndash; Thêm phần tử div và margin-top &ndash;&gt;-->
<!--&lt;!&ndash;    <a asp-action="ThemMoiDonHang" class="btn btn-success btn-sm" asp-controller="Product">Thêm Mới Đơn Hàng</a>&ndash;&gt;-->
<!--</div>-->


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"  style="background-color:#B66DFF;color:White">Mã Hóa Đơn</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Id Tài Khoản</th>
            <th scope="col" class="wide-column"  style="background-color:#B66DFF;color:White">Mã Tour</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Số Người Lớn</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Số Trẻ Em</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Tổng Tiền</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Ngày Lập</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Địa Chỉ</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Số Điện Thoai</th>
            <th scope="col"  style="background-color:#B66DFF;color:White">Trạng Thái</th>
            <th scope="col" style="background-color:#B66DFF;color:White" >Chức Năng</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="hoadon : ${hoadons}">

            <td th:text="${hoadon.maHD}"></td>
            <td th:text="${hoadon.id}"></td>
            <td th:text="${hoadon.maTour}"></td>
            <td th:text="${hoadon.soNguoiLon}"></td>
            <td th:text="${hoadon.soTreEm}"></td>
            <td th:text="${hoadon.tongTien}"></td>
            <td th:text="${hoadon.ngayLap}"></td>
            <td th:text="${hoadon.diaChi}"></td>
            <td th:text="${hoadon.sdt}"></td>
            <td th:text="${hoadon.trangThai}"></td>
            <td>
                <a th:href="@{/Admin/editHoaDon/{id}(id=${hoadon.maHD})}"
                   class="btn btn-warning btn-sm">Sửa</a>
<!--                <a th:href="@{/Admin/delete/{id}(id=${hoadon.maHD})}"-->
<!--                   class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không?')">Xóa</a>-->
            </td>
        </tr>

        </tbody>
    </table>
</div>

</section>>
</body>
</html>