<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/CSS/forgotpassword.css}">
    <style>

        .error-message {
            color: red; /* Màu chữ đỏ cho thông báo lỗi */
        }

        .success-message {
            color: green; /* Màu chữ xanh cho thông báo thành công */
        }

    </style>
    <link rel="stylesheet" th:href="@{/assets/css/Admin.css}" type="text/css">
</head>
<body>

<section layout:fragment="content" class="content-section">

    <div class="form-container">
        <div class="logo-container">
            Reset Password
        </div>
        <div>
            <span th:if="${error}" th:text="${error}" class="error-message"></span>
            <span th:if="${message}" th:text="${message}" class="success-message"></span>
        </div>
        <form class="form" action="/Admin/ChangePassword" method="post">
            <input type="hidden" name="email" th:value="${email}">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Your New Password?"  required>
                <span id="passWordError" class="text-danger"></span>
            </div>
            <script>
                // Lấy thẻ input và span hiển thị lỗi
                var password = document.querySelector('input[name="password"]');
                var passWordError = document.getElementById('passWordError');

                // Lắng nghe sự kiện khi mất focus khỏi input
                password.addEventListener('blur', function () {
                    // Kiểm tra nếu giá trị của input không hợp lệ
                    if (password.validity.valueMissing) {
                        // Hiển thị thông báo lỗi tùy chỉnh
                        passWordError.textContent = 'Vui lòng nhập mật khẩu.';
                    } else {
                        // Nếu hợp lệ, xóa thông báo lỗi
                        passWordError.textContent = '';
                    }
                });
            </script>
            <button class="form-submit-btn" type="submit">Change Password</button>
        </form>


    </div>
</section>
</body>
</html>
