<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/Admin.css}" type="text/css">
</head>
<body>
<div layout:fragment="content" style="position: relative;">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Trang Chủ
                </h3>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <span></span>Hiển thị <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <img th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />

                            <h4 class="font-weight-normal mb-3">Doanh Thu <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                            </h4>

                            <!-- hiển thị tổng tiền hóa đơn -->
                            <h2 th:text="${formattedPrice}" class="mb-5"></h2>
<!--                            <h2 class="mb-5">$ 15,0000</h2>-->
<!--                            <h6 class="card-text">Increased by 60%</h6>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <img th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">Số lượng đơn hàng <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                            </h4>
                            <h2 th:text="${numberOfInvoices}" class="mb-5"></h2>
<!--                            <h6 class="card-text">Decreased by 10%</h6>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <img th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">Số Tài Khoản <i class="mdi mdi-diamond mdi-24px float-right"></i>
                            </h4>
                            <h2 th:text="${numberAccount}" class="mb-5"></h2>
<!--                            <h6 class="card-text">Increased by 5%</h6>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title float-left">Doanh Thu Theo Tháng</h4>
                                <canvas id="revenueChart" width="800" height="300"></canvas>
                            </div>
                        </div>
                    </div>
            </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin</h4>
                    <canvas id="myChartThongTin" width="300" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var months = /*[[${months}]]*/ [];
        var revenues = /*[[${revenues}]]*/ [];
        var numberAccount = /*[[${numberAccount}]]*/ 0;
        var numberOfInvoices = /*[[${numberOfInvoices}]]*/ 0;
        var numberTour = /*[[${numberTour}]]*/ 0;
        var numberHotel = /*[[${numberHotel}]]*/ 0;
        // Create Chart.js chart
        var ctx = document.getElementById('revenueChart').getContext('2d');
        var revenueChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'Doanh Thu (VNĐ)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    data: revenues
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function(value) { return value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }); }
                        }
                    }]
                }
            }
        });


<!--         // charjs thông tin-->
        var ctxInfo = document.getElementById('myChartThongTin').getContext('2d');
        var infoChart = new Chart(ctxInfo, {
            type: 'bar',
            data: {
                labels: ['Số tài khoản khách', 'Số hóa đơn','Số Khách Sạn','Số tour'],
                datasets: [
                {
                    label: 'Số tài khoản',
                    backgroundColor: '#36a2eb',
                    borderColor: '#36a2eb',


                    borderWidth: 1,
                    data: [numberAccount,null,null,null] // <!--  truyền vào dữ liệu theo mảng label-->
                },
                {
                    label: 'Số hóa đơn',
                    backgroundColor: '#ff6384',
                    borderColor: '#ff6384',
                    borderWidth: 1,
                    data: [null,numberOfInvoices,null,null]
                },
                {
                    label: 'Số khách sạn',
                    backgroundColor: '#4bc0c0',
                    borderColor: '#4bc0c0',
                    borderWidth: 1,
                    data: [null,null,numberHotel,null]
                },
                {
                    label: 'Số tour',
                    backgroundColor: '#ffd700',
                    borderColor: '#ffd700',
                    borderWidth: 1,
                    data: [null,null,null,numberTour]
                }
                ]
            },
                options: {

           scales: {
            x: {
                stacked: true,<!-- để dữ liệu ở chính giữa mảng // Xếp chồng các cột trên trục x-->
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Thông tin'
                },
                offset: true,
                grid: {
                    offset: true
                }
            }
        },
        plugins: {
            legend: {
                display: true,
                position: 'top'
            }
        }
    }});


        /*]]>*/
    </script>



</div>





</body>
</html>