<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
<section layout:fragment="content" style="position: relative;">
    <div class="col-md-12">
        <h3>Reset Password</h3>
        <div class="col-md-9" style="margin-left:150px;">
            <form th:action="@{/Admin/ResetPassword/{id}(id=${taikhoan.ID})}"  th:object="${taikhoan}" method="post">



                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" th:value="*{user.email}" readonly>
                </div>




                <div>
                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                </div>
            </form>
        </div>
    </div>

</section>
</body>
</html>