<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/CSS/forgotpassword.css}">
    <style>

        .error-message {
            color: red; /* Màu chữ đỏ cho thông báo lỗi */
        }

        .success-message {
            color: green; /* Màu chữ xanh cho thông báo thành công */
        }

    </style>
</head>
<body>

<section layout:fragment="content" class="content-section">
<!--    <h1>Reset Password</h1>-->
<!--<form action="/DoiMatKhau" method="post">-->
<!--    <input type="hidden" name="email" th:value="${email}">-->
<!--    <div>-->
<!--        <label for="password">New Password:</label>-->
<!--        <input type="password" id="password" name="password" required>-->
<!--    </div>-->
<!--    <button type="submit">Reset Password</button>-->
<!--</form>-->
<!--<div>-->
<!--    <span th:if="${error}" th:text="${error}"></span>-->
<!--    <span th:if="${message}" th:text="${message}"></span>-->
<!--</div>-->
    <div class="form-container">
        <div class="logo-container">
            Reset Password
        </div>
        <div>
            <span th:if="${error}" th:text="${error}" class="error-message"></span>
            <span th:if="${message}" th:text="${message}" class="success-message"></span>
        </div>
        <form class="form" action="/DoiMatKhau" method="post">
            <input type="hidden" name="email" th:value="${email}">-->
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Your New Password?" required>
            </div>

            <button class="form-submit-btn" type="submit">Change Password</button>
        </form>


    </div>
</section>
</body>
</html>
