<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/CSS/Slide.css}" href="../../../static/CSS/Slide.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div th:fragment="slideshow">
    <div class="slideshow-container">
        <div class="mySlides">
            <img th:src="@{/images/CauVang.jpg}" style="width:100%" class="slide">
        </div>
        <div class="mySlides">
            <img th:src="@{/images/NhaTrang.jpg}" style="width:100%" class="slide">
        </div>
        <div class="mySlides">
            <img th:src="@{/images/VinhHaLong.jpg}" style="width:100%" class="slide">
        </div>
        <a id="prevRegular" class="prev prev-regular" onclick="plusSlides(-1)">&#10094;</a>
        <a id="nextRegular" class="next next-regular" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>
</body>
</html>
