<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <link rel="stylesheet" th:href="@{/CSS/StyleForindex.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link th:href="@{/CSS/Slide.css}" href="../../static/CSS/Slide.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script th:src="@{/js/JSForIndex.js}"></script>
    <script th:src="@{/js/ScriptForSlide.js}"></script>
    <script th:src="@{/js/GoiYDiaDiem.js}"></script>
    <script th:src="@{/js/Wishlist.js}"></script>
</head>
<body>

<div layout:fragment="content" style="position: relative;">
    <video width="1400" autoplay muted loop style="display: block; margin: 0 auto;">
        <source th:src="@{/video/video-nhom9.mp4}" type="video/mp4">
    </video>
    <div class="video-text">
        <span th:text="#{login.to.discount}"></span><br>
        <span th:text="#{15%}"></span>
    </div>
    <div class="search-bar">
        <form id="searchForm" method="GET" th:action="@{/DuLichViet/Search}" style="text-align:center; width: 100%;">
            <input type="text" oninput="fetchSuggestions(this.value)" name="location" id="location-input" th:placeholder="#{location}">
            <div id="suggestions" class="suggestions"></div><span>|</span>
            <select id="tourType" class="fa-solid fa-arrow-down" name="tourType" >
                <option value="">Tất cả</option>
                <option th:each="loaiTour : ${loaiTours}" th:value="${loaiTour.maLoaiTour}" th:text="${loaiTour.loaiTour}"></option>
            </select><span>|</span>
            <input type="date" id="departureDate-input" name="departureDate" th:placeholder="#{arrival.date}"><span>|</span>
            <input type="number" id="budget-input" name="budget" th:placeholder="#{price}">
            <button type="submit" th:text="#{search}"></button>
        </form>
    </div>

    <div th:replace="partials/SlidePartial :: slideshow"></div>
    <div class="banner">
        <img th:src="@{/images/banner1.jpg}" alt="Banner" style="display: block; margin: 0 auto;">
    </div>
    <div class="support">
        <span th:text="#{support.and.advice}"></span>
    </div>
    <div class="destination-container">
        <h2 class="title" th:text="#{favorite.destinations}"></h2>
        <h3 class="subtitle" th:text="#{hottest.places.recommended.by.DuLichViet}"></h3>
        <div class="destination-images">
            <div class="image-container large">
                <img class="destination-image" src="/images/HCM.jpg" alt="Destination 1">
                <div class="image-text" th:text="#{hcm}"></div>
            </div>
            <div class="image-container small">
                <img class="destination-image" src="/images/dalat.jpg" alt="Destination 2">
                <div class="image-text" th:text="#{dalat}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/hanoi.jpg" alt="Destination 3">
                <div class="image-text" th:text="#{hanoi}"></div>
            </div>
            <div class="image-container small">
                <img class="destination-image" src="/images/nhatrang.jpg" alt="Destination 4">
                <div class="image-text" th:text="#{nhatrang}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/sapa.jpg" alt="Destination 5">
                <div class="image-text" th:text="#{sapa}"></div>
            </div>
            <div class="image-container small">
                <img class="destination-image" src="/images/vungtau.jpg" alt="Destination 6">
                <div class="image-text" th:text="#{vungtau}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/danang.jpg" alt="Destination 7">
                <div class="image-text" th:text="#{danang}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/phuquoc.jpg" alt="Destination 8">
                <div class="image-text" th:text="#{phuquoc}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/hoian.jpg" alt="Destination 9">
                <div class="image-text" th:text="#{hoian}"></div>
            </div>
            <div class="image-container large">
                <img class="destination-image" src="/images/quynhon.jpg" alt="Destination 10">
                <div class="image-text" th:text="#{quynhon}"></div>
            </div>
        </div>
    </div>
    <h2 th:text="#{attractive.tours}" class="attractive"></h2>
    <input type="hidden" id="isNotLoggedIn" sec:authorize="!isAuthenticated()" value="false"/>
    <div class="card-container">
        <div th:each="tour : ${tours}" class="tour-card">
            <div class="tour-image-container">
                <i class="bi bi-heart heart-icon" data-ma-tour="${tour.maTour}"></i>
                <img th:src="@{${tour.mainImageUrl}}" alt="Main Tour Image" class="tour-image">
                <img th:src="@{${tour.secondaryImageUrl}}" alt="Secondary Tour Image" class="tour-image secondary-image">
            </div>
            <div class="tour-info">
                <h2 class="tour-name" th:text="${tour.tenTour}">Tên Tour</h2>
                <span class="star-icon">⭐⭐⭐⭐⭐</span>
                <p class="tour-date" th:text="#{departure.date.label} +' '+ ${#dates.format(tour.ngayKH, 'dd/MM/yyyy')}">Ngày Khởi Hành</p>
                <div th:if="${tour.promotionActive}">
                    <p class="discount">Giảm giá: <span th:text="${tour.phanTramGiam} + '%'"></span></p>
                    <p class="price" th:text="#{price.label} +' '+ ${tour.formattedGiaTour}">Giá: </p>                    <p class="price">Giá sau khi giảm: <span th:text="${tour.giaSauGiam}"></span></p>
                </div>
                <div th:if="${!tour.promotionActive}">
                    <p class="price" th:text="#{price.label} +' '+ ${tour.formattedGiaTour}">Giá: </p>                </div>
            </div>
            <a id="dangkyBtn" class="dangky-btn" onclick="checkLogin(event)" th:href="@{/DuLichViet/TourDetail/{maTour}(maTour=${tour.maTour})}" th:data-ma-tour="${tour.maTour}" th:text="#{register}"></a>
        </div>
    </div>

    <div id="chat-window" class="chat-window">
        <div class="chat-header">
            <span class="close-btn">&times;</span>
            <span th:text="#{support.chat}"></span>
        </div>
        <div class="chat-body">
        </div>
        <div class="chat-footer">
            <input type="text" th:placeholder="#{enter.message}">
            <button>Gửi</button>
        </div>
    </div>
</div>
<script>
    let tours = [
        { maTour: 1, tenTour: "Tour 1", ngayKH: "2024-07-01", giaTour: "1000", mainImageUrl: "/images/tour1.jpg", secondaryImageUrl: "/images/tour1-2.jpg" },
        { maTour: 2, tenTour: "Tour 2", ngayKH: "2024-07-02", giaTour: "2000", mainImageUrl: "/images/tour2.jpg", secondaryImageUrl: "/images/tour2-2.jpg" },
    ];

    let currentIndex = 0;
    const toursPerPage = 4;

    function showMoreTours() {
        const container = document.querySelector('.card-container');
        const endIndex = currentIndex + toursPerPage;
        const toursToShow = tours.slice(currentIndex, endIndex);

        toursToShow.forEach(tour => {
            const tourCard = document.createElement('div');
            tourCard.classList.add('tour-card');
            tourCard.innerHTML = `
                            <div class="tour-image-container">
                <i class="bi bi-heart heart-icon" data-ma-tour="${tour.maTour}"></i>
                <img th:src="@{${tour.mainImageUrl}}" alt="Main Tour Image" class="tour-image">
                <img th:src="@{${tour.secondaryImageUrl}}" alt="Secondary Tour Image" class="tour-image secondary-image">
            </div>
            <div class="tour-info">
                <h2 class="tour-name" th:text="${tour.tenTour}">Tên Tour</h2>
                <span class="star-icon">⭐⭐⭐⭐⭐</span>
                <p class="tour-date" th:text="#{departure.date.label} +' '+ ${#dates.format(tour.ngayKH, 'dd/MM/yyyy')}">Ngày Khởi Hành</p>
                <div th:if="${tour.promotionActive}">
                    <p class="discount">Giảm giá: <span th:text="${tour.phanTramGiam} + '%'"></span></p>
                    <p class="price">Giá: <span th:text="${tour.giaTour}"></span></p>
                    <p class="price">Giá sau khi giảm: <span th:text="${tour.giaSauGiam}"></span></p>
                </div>
                <div th:if="${!tour.promotionActive}">
                    <p class="price">Giá: <span th:text="${tour.giaTour}"></span></p>
                </div>
            </div>
            <a id="dangkyBtn" class="dangky-btn" onclick="checkLogin(event)" th:href="@{/DuLichViet/TourDetail/{maTour}(maTour=${tour.maTour})}" th:data-ma-tour="${tour.maTour}" th:text="#{register}"></a>
            `;
            container.appendChild(tourCard);
        });

        currentIndex += toursPerPage;

        if (currentIndex >= tours.length) {
            document.getElementById('showMoreBtn').style.display = 'none';
        }
    }

    showMoreTours();
</script>

</body>
</html>
