<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán thành công</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/CSS/Payment.css}">
    <!-- Include necessary JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/CSS/StyleForLayout.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script th:src="@{/js/ScriptForLayout.js}" src="../../static/js/ScriptForLayout.js"></script>
</head>
<body>
<div layout:fragment="content" style="padding-top: 130px;">
    <div class="success-icon" style="text-align: center">
        <img th:src="@{/images/Success.png}" src="/static/images/Success.png" alt="Success mark">

    </div>
    <h1 style="text-align: center">Thanh toán thành công!</h1>
    <p style="text-align: center">Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đã được xác nhận và đang được xử lý.</p>
    <div class="details">
        <h2>Thông tin chi tiết</h2>
        <table>
            <tr>
                <th>Mã đơn hàng:</th>
                <td th:text="${orderId}"></td>
            </tr>
            <tr>
                <th>Tổng số tiền:</th>
                <td th:text="${amount}"></td>
            </tr>
            <tr>
                <th>Phương thức thanh toán:</th>
                <td th:text="${paymentMethod}"></td>
            </tr>
            <tr>
                <th>Thời gian thanh toán:</th>
                <td th:text="${paymentDateTime}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
