<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${tour.tenTour} + ' - Chi Tiết Tour'">Chi Tiết Tour</title>
    <link rel="stylesheet" th:href="@{/CSS/Detail.css}">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Thêm các link CSS, JavaScript cần thiết nếu có -->
    <style>
        .error-message {
            color: red;
            font-style: italic;
            font-size: 0.8em;
        }
    </style>
    <script>
<!--        //kiểm tra số điện thoại khi nhấn payment-->
        function validateAndMakePayment() {
    checkAddressValue();//gọi kiểm tra Address
    checkNumberValue();//gọi kiểm tra Nubmer
checkAdultsValue();//gọi kiểm tra số người lớn
validateChildrenInput();//gọi kiểm tra trẻ em
return;


<!--    // Tiếp tục thực hiện thanh toán nếu hợp lệ-->
    makePayment();
}
        function changeMainImage(src) {
            document.getElementById('mainImage').src = src;
        }

        function calculateTotal() {
            var adults = document.getElementById('adults').value;
            var pricePerAdult = parseFloat(document.getElementById('pricePerAdult').value);
            var pricePerSale= parseFloat(document.getElementById('priceSale').value);
            var totalSale = adults * pricePerSale; // tiền sale
            var total = adults * pricePerAdult; // Chỉ tính giá tiền cho người lớn
            document.getElementById('totalPrice').textContent = total.toLocaleString('vi-VN') + ' VND';
            document.getElementById('totalPriceSale').textContent = total.toLocaleString('vi-VN') + ' VND';
        }

      function makePayment() {
            var totalPriceSale = document.getElementById('totalPriceSale').textContent;
            var totalPrice = document.getElementById('totalPrice').textContent;
             var tongTienSale = parseFloat(totalPriceSale.replace(' VND', '').replace(/\./g, ''));
            var tongTien = parseFloat(totalPrice.replace(' VND', '').replace(/\./g, ''));
            var maTour = document.getElementById('${tour.maTour}').value;
            var sdt = encodeURIComponent(document.getElementById('phoneNumber').value);
            var diachi = encodeURIComponent(document.getElementById('address').value);
            var adults = document.getElementById('adults').value;
            var children = document.getElementById('children').value;

            fetch(`/api/v1/payment/${maTour}/${sdt}/${diachi}/${adults}/${children}?amount=${tongTienSale}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.payUrl) {
                    window.location.href = data.payUrl;
                } else {
                    alert('Có lỗi xảy ra, vui lòng thử lại sau.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
<!--        //Lỗi nhập 0 cho tre em-->
     function validateChildrenInput() {
            var childrenInput = document.getElementById("children");
            var childrenError = document.getElementById("childrenError");

            if (childrenInput.value < 0) {
                childrenError.textContent = "Số trẻ em không được nhỏ hơn 0.";
                childrenInput.setCustomValidity("Invalid");
                     // Hiển thị lỗi trong 3 giây
                setTimeout(function() {
                    childrenError.textContent = "";
                    childrenInput.setCustomValidity("");
                }, 3000);
            } else {
                childrenError.textContent = "";
                childrenInput.setCustomValidity("");
            }
        }
<!--//đổi giá trị  về 0 khi click ra ngoài -->
        function checkChildrenValue() {
            var childrenInput = document.getElementById("children");

            if (childrenInput.value < 0) {
                childrenInput.value = 0; // Đổi giá trị về 0 nếu nhỏ hơn 0
            }
        }
        //ràng buộc số người lớn
         function checkAdultsValue() {

            var adultsInput = document.getElementById("adults");
            var adultsError = document.getElementById("adultsError");

            if (adultsInput.value < 1) {
                adultsError.textContent = "Số người lớn không được nhỏ hơn 1.";
                adultsInput.setCustomValidity("Invalid");
                adultsInput.value = 1; // Đổi giá trị về 1 nếu nhỏ hơn 0
                setTimeout(function() {
                    adultsError.textContent = "";

                    adultsInput.setCustomValidity("");
                }, 3000);
            } else {
                adultsError.textContent = "";
                adultsInput.setCustomValidity("");
            }
        }
        //số điện thoại
        function checkNumberValue() {
        var phoneNumberInput = document.getElementById('phoneNumber');
        var phoneError = document.getElementById('phoneError');

        // Định nghĩa regex để kiểm tra định dạng số điện thoại (ví dụ đơn giản)
        var phoneRegex = /^[0-9]{10,11}$/; // Ví dụ: Số điện thoại từ 10 đến 12 chữ số

        if (!phoneRegex.test(phoneNumberInput.value)) {
            phoneError.textContent = 'Số điện thoại không hợp lệ. Vui lòng nhập lại.';
            phoneNumberInput.setCustomValidity('Invalid');
            setTimeout(function() {
                phoneError.textContent = '';
                phoneNumberInput.setCustomValidity('');
            }, 3000);
        } else {
            phoneError.textContent = '';
            phoneNumberInput.setCustomValidity('');
        }
    }
        // Hàm kiểm tra và địa chỉ
function checkAddressValue() {
    var addressInput = document.getElementById('address');
    var addressError = document.getElementById('addressError');
    var addressValue = addressInput.value.trim(); // Lấy giá trị của địa chỉ và loại bỏ các khoảng trắng đầu cuối

    if (addressValue === '') {
        addressError.textContent = 'Địa chỉ không được bỏ trống.';
        addressInput.setCustomValidity('Invalid');
        setTimeout(function() {
            addressError.textContent = '';
            addressInput.setCustomValidity('');
        }, 3000);
    } else {
        addressError.textContent = '';
        addressInput.setCustomValidity('');
    }
}
//load thì cập nhật giá
document.addEventListener('DOMContentLoaded', function() {
      // Lấy giá trị ban đầu của tour.giaTour từ priceSale
    var giaTour = parseFloat(document.getElementById('priceSale').value);

    // Định dạng giá trị sang tiền Việt Nam (VND)
    var formattedGiaTour = giaTour.toLocaleString('vi-VN');

    // Cập nhật giá trị của totalPrice
    var totalPriceElement = document.getElementById('totalPrice');
    totalPriceElement.textContent = formattedGiaTour + ' VND';

    // Cập nhật giá trị của totalPriceSale
    var totalPriceSale = document.getElementById('totalPriceSale');
    totalPriceSale.textContent = formattedGiaTour + ' VND';
});


    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <!-- Cột bên trái -->
    <div class="left-column">
        <h2 th:text="${tour.tenTour}">Tên Tour</h2>
        <img id="mainImage" th:src="@{${tour.mainImageUrl}}" alt="Main Tour Image" class="main-image">
        <div class="image-gallery" th:if="${tour.otherImageUrls != null}">
            <div th:each="imageUrl : ${tour.otherImageUrls}">
                <img th:src="@{${imageUrl}}" alt="Other Tour Image" th:onclick="|changeMainImage('@{${imageUrl}}')|">
            </div>
        </div>
    </div>

    <!-- Cột bên phải -->
    <div class="right-column">
        <div class="form-group">
            <label for="adults">Số người lớn:</label>
            <input type="number" id="adults" name="adults" min="1" value="1" oninput="calculateTotal()" onblur="checkAdultsValue()">
            <div id="adultsError" class="error-message"></div>
        </div>
        <div class="form-group">
            <label for="children">Số trẻ em:</label>
            <input type="number" id="children" name="children" min="0" value="0" oninput="validateChildrenInput()" onblur="checkChildrenValue()">
             <div id="childrenError" class="error-message"></div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Số điện thoại:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại"  onblur="checkNumberValue()">
            <div id="phoneError" class="error-message"></div>
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ:</label>
            <input type="text" id="address" name="address" placeholder="Địa chỉ" onblur="checkAddressValue()">
            <div id="addressError" class="error-message"></div>
        </div>
        <div class="form-group">
            <label for="${khuyenMai.maKM}">Nhập mã khuyến mãi:</label>
            <input type="text" id="${khuyenMai.maKM}" name="${khuyenMai.maKM}" placeholder="Nhập mã khuyến mãi">
            <button onclick="applyPromotion()" class="btn btn-primary" style="margin-left:190px; margin-top:5px;">Áp dụng</button>
            <p id="promoMessage" style="color: red;"></p>
        </div>


        <input type="hidden"  th:value="${tour.maTour}"  id="${tour.maTour}" name="${tour.maTour}">
        <script>
            function applyPromotion() {
                var promoCode = document.getElementById('${khuyenMai.maKM}').value;
                var tourCode = document.getElementById('${tour.maTour}').value;

                fetch('/api/applyPromotion?maTour=' + encodeURIComponent(tourCode) + '&maKM=' + encodeURIComponent(promoCode), {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.error || 'Unknown error');
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.discountApplied) {


                        // Kiểm tra thời gian sử dụng của mã khuyến mãi
                        var startDate = new Date(data.startDate);
                        var endDate = new Date(data.endDate);
                         // Hiển thị mã khuyến mãi

                        var currentDate = new Date();
                        if (currentDate < startDate || currentDate > endDate) {
                            document.getElementById('promoMessage').textContent = 'Mã khuyến mãi đã hết hạn.';
                        }

                        else {
                        var newPrice = data.newPrice;

                        document.getElementById('totalPriceSale').textContent = newPrice.toLocaleString('vi-VN') + ' VND';
                        document.getElementById('priceSale').value = newPrice;
<!--                        calculateTotal(); // Tính lại tổng tiền dựa trên giá mới-->
                            document.getElementById('promoMessage').textContent = 'Áp dụng mã khuyến mãi thành công!';
                        }


                    } else {
                        document.getElementById('promoMessage').textContent = 'Mã khuyến mãi không hợp lệ hoặc đã hết hạn.';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                     document.getElementById('promoMessage').textContent = error.message;
                });
            }

            function formatCurrency(amount, currency) {
                return amount.toLocaleString('vi-VN') + ' ' + currency;
            }
        </script>

        <div class="form-group">
            <p>Tổng tiền: <span id="totalPrice" th:value="${tour.giaTour}">0 VND</span></p>
        </div>
        <input type="hidden" id="pricePerAdult" th:value="${tour.giaTour}">
        <div class="form-group">
            <p>Tiền vé 1 người (sẽ được giảm nếu có khuyến mãi): <span id="totalPriceSale">0 VND</span></p>
            <input type="hidden" id="priceSale" th:value="${tour.giaTour}">
        </div>

        <button class="register-button" onclick="validateAndMakePayment()">Đặt tour</button>
    </div>
</div>
</body>
</html>
