<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="slideshow" class="slideshow-container">
    <div class="mySlides">
        <img th:src="@{/images/DuLichViet1.jpg}" style="width:100%" class="slide">
    </div>
    <div class="mySlides">
        <img th:src="@{/images/DuLichViet2.jpg}" style="width:100%" class="slide">
    </div>
    <div class="mySlides">
        <img th:src="@{/images/DuLichViet3.jpg}" style="width:100%" class="slide">
    </div>
</div>
</body>
</html>